* {
    box-sizing: border-box;
}

:root {
    --c-blue: #08A6E4;
    --c-red: #FB3B64;
    --c-green: #55DFB4;
    --b-radius-box: 18px;
    --b-radius-box-button: 23px;
    --font-header: 'Raleway', sans-serif
}

html {
    font-family: 'Open Sans', sans-serif;
}

.header {
    width: 100%;
    height: 70px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
}
.container {
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}

.header .container {
    max-width: 1352px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    font-style: var(--font-header);
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 0px;
    color: var(--c-blue);
    text-decoration: none;
}
.menu {
    height: 100%;
}
.menu-list {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-list li {
    height: 100%;
}

.menu-list a {
    height: 100%;
    text-decoration: none;
    color: #A5A5A5;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 0 40px;
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.menu-list a:hover {
    color: black;
    box-shadow: 0 -2px var(--c-blue) inset;
}