@import "_normalize";
@import "_fonts";
@import "_variables";
@import "_breakpoints";
@import "_elements/logo";
@import "_elements/header";
@import "_elements/menu";
@import "_elements/hero";
@import "_elements/section-info";
@import "_elements/section-feature";
@import "_elements/section-pricing";

* {
  box-sizing: border-box;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.section {
  padding: 100px 0;
}

.section-title {
  font-family: $font-header;
  font-size: 36px;
  font-style: normal;
  font-weight: normal;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 55px;
  margin-top: 0;
  text-align: center;
}

